<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :story_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :story_title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :story_url %>
  </div>

  <div class="field">
    <%= form.label :site %>
    <%= form.text_field :site, id: :story_site %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points, id: :story_points %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :story_author %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :story_time %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.number_field :comments, id: :story_comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
